<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Soumendu Roy.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/soumendu-roy-03a8688?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BMTaMfkWsTfue1RcDo5uuug%3D%3D" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/soumendu-git" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:soumenduroy2002@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://x.com/soumenduroy2002" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
